---
import "../styles/global.css";
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
  </head>

  <body>
    <slot />
  </body>
</html>