---
import "../styles/global.css";
import PWAInstallButton from "../components/PWAInstallButton.jsx";
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="manifest" href="/manifest.json" />

  <meta name="theme-color" content="#0f172a" />

  <!-- iOS 대응 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  </head>

  <body>
    <slot />

    <div class="pwa-wrapper">
    <PWAInstallButton client:load />
  </div>

    <script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js');
    });
  }
</script>

  </body>
</html>